.billion3 {
  font-size: 1.2em;
  color: #b1d4f0;
}

.flash.success {
  background-color: greenyellow;
  font-size: 1.5em;
}
.flash.error {
  background-color: red;
  font-size: 1.5em;
}

.form-contact .invalid {
  background-color: red;
}

.form-contact .invalid-feedback {
  background-color: red;
}