{% extends 'base.html' %}
<!doctype html>

{% block content %}
            <div class="exporso_wrapper">
                <!--error section area start-->
                <div class="error_section ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="error_form">
                                    <h1>404</h1>
                                    <h2>Opps! PAGE NOT BE FOUND</h2>
                                    <p>Sorry but the page you are looking for does not exist, have been<br> removed, name changed or is temporarity unavailable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Error Secton end-->
            </div>
{% endblock %}