
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}} </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/plugin.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/bundle.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/my_style.css')}}" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favico1n.ico">
    </head>
    <body>
        <header>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-8">
                            <div class="logo">
                                <a href="{{url_for('home')}}"><img src="/static/img/logo.png" alt="exporso logo"></a>
                            </div>
                        </div>
            
                        <div class="col-lg-4 col-md-1">
                            <div class="d-none d-lg-block">
                                <span class="cart_count1">тел 560560560</span><br>
                                <span class="cart_count1">Pupsic@Mail.Ru</span>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="menu d-none d-lg-block ">
                                <nav>
                                    <ul>
                                      
                                        {% for m in menu %}
                                        <li><a href="{{m.url}}"> {{m.title}}</a></li>
                                        {% endfor %}
                                       
                                       
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none">
                            <!--Mobile menu murkup start-->
                            <div class="mobile-menu-area d-lg-none">
                                <div class="mobile-menu clearfix">
                                    <nav>
                                        <ul>
                                            
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!--Mobile menu murkup End-->
                        </div>
                    </div>
                </div>
            </div>
            </header>

        {% block content %}
        {% endblock content %}

<footer class="footer_area">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our_help_services ptb-80">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-boat"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Доставка</h3>
                                        <p>Доставляем на всю территорию СНГ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex justify-content-center">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-shield-security"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Высокое качество</h3>
                                        <p>Высокое качество и низкие сроки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex justify-content-end">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-phone-setting"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Технический отдел</h3>
                                        <p>связь с техническими специалистами</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer widget_description">
                        <p>Низкие сроки выполнения заказа, не высокая цена.</p>
                        <div class="addresses_inner">
                            <div class="single_address">
                              
                                <p>
                                    <span> Адрес: </span> <span>  </span>
                                </p>

                                <p>
                                    <span> Телефон: </span> <span> <br>  +125 5455 5555 55</span>
                                </p>
                            
                            </div>
                        </div>
                        <div class="social__icon">
                            <ul>
                                <li>
                                    <a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </li>

                                <li>
                                    <a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Категории</h3>
                        </div>
                        <ul>
                                <li><a href="/"></a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Карта</h3>
                        </div>
                        <ul>
                            <li><a href="/">Каталог</a></li>
                            <li><a href="/">О Компании</a></li>
                            <li><a href="/contact/">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Новости</h3>
                        </div>
                        <ul>
                                <li><a href="/">7 </a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
        <script src="{{url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/popper.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/plugins.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <script src="{{url_for('static', filename='js/map.js')}}"></script>
        <script src="{{url_for('static', filename='js/map.js')}}"></script>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
        <script src="https://www.google.com/jsapi"></script>


    </body>
</html>
