{% extends 'base.html' %}

{% block content %}
{{super() }}
<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12">
        <div class="contact-form-inner pt-95">
             <div class="contact-form-titile text-center">
                 <h3>добавить пост</h3>    
             </div>
            <div class="contat_form_inner mt-60">

                {% for category, msg in get_flashed_messages(True) %}
                <div class="flash {{category}}">{{msg}}</div>
                {% endfor %}
                 <form action="{{url_for('createpost')}}" method="POST">
                     <div class="single-contact-form d-flex">
                         <div class="contact-box">
                             <input name="title" type="text" placeholder="название поста *" >
                             
                             <textarea name="full_text" type="text" placeholder="введите текст поста"></textarea>
                             <br>
                         </div>
                     </div>
                 
                     <div class="contact-btn">
                         <button type="submit">добавить пост</button>
                     </div>
                     <p class="form-messege"></p>
                 </form>

            </div>
        </div>
    </div>
</div>
<!--Conatct form end-->

{% endblock %}