{% extends 'base.html' %}

{% block footer %}

<footer class="footer_area">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our_help_services ptb-80">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-boat"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Доставка</h3>
                                        <p>Доставляем на всю территорию СНГ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex justify-content-center">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-shield-security"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Высокое качество</h3>
                                        <p>Высокое качество и низкие сроки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="help_service d-flex justify-content-end">
                                    <div class="h_ser_icon">
                                        <i class="zmdi zmdi-phone-setting"></i>
                                    </div>
                                    <div class="h_ser_text">
                                        <h3>Технический отдел</h3>
                                        <p>связь с техническими специалистами</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer widget_description">
                        <p>Низкие сроки выполнения заказа, не высокая цена.</p>
                        <div class="addresses_inner">
                            <div class="single_address">
                              
                                <p>
                                    <span> Адрес: </span> <span>  </span>
                                </p>

                                <p>
                                    <span> Телефон: </span> <span> <br>  +125 5455 5555 55</span>
                                </p>
                            
                            </div>
                        </div>
                        <div class="social__icon">
                            <ul>
                                <li>
                                    <a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </li>

                                <li>
                                    <a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Категории</h3>
                        </div>
                        <ul>
                                <li><a href="/"></a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Карта</h3>
                        </div>
                        <ul>
                            <li><a href="/">Каталог</a></li>
                            <li><a href="/">О Компании</a></li>
                            <li><a href="/contact/">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_footer footer_widget_menu">
                        <div class="widget_title">
                            <h3>Новости</h3>
                        </div>
                        <ul>
                                <li><a href="/">7 </a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}