{% extends 'base.html' %}

{% block content %}
<div class="exporso_wrapper">
    <!-- slider-area-start -->
    <div class="slider_wrapper">
        <div class="slider-active owl-carousel">
            <!--Single Slide-->
            <div class="single__slider bg-opacity" style="background-image: url(/static/img/slide/1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="slider-content slider-text-animation">
                                <h1><span class="tipo1">Лучшее решение</span></h1>
                                <!--<h2><span class="tipo1">15% - 20% ниже</span></h2>-->
                                <!--<p>Высокое качество адекватная цена, низкие сроки. </p>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single slide end-->
            <!--на этомместе её два блока карусели-->
        </div>
    </div>
    <!-- slider-area-end -->
    <div class="blog_area blog_sidebar pt-105 pb-100 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="sidebar_right">

                        <div class="sidebar_widget recent_post mb-65">
                            <div class="sidebar_title">
                                <h3>Категории</h3>
                            </div>                      
                            <div class="single_recent_post">
                                <div class="recent_post_img">
                                    <a href="">                                     
                                        <img src="" alt="">                                    
                                        <p></p> 
                                    </a>
                                </div>
                                <div class="post_content">
                                    <h3><a href=""></a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar_widget banner mb-65">
                            <div class="sidebar_title">
                                <h3>Поиск</h3>
                            </div>
                            <div class="sidebar_search">
                                <div class="search_form">
                                    <form method="GET" action="">
                                        <input type="text" name="q" placeholder="Поиск товара"
                                               value=""/>
                                        <button type="submit" value="Search"><i class="zmdi zmdi-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar_widget cartegories mb-65">
                            <div class="sidebar_title">
                                <h3>Новости</h3>
                            </div>
                            {% for n in news %}
                            <div class="widget_categories">
                                <ul>
                                    <li><a href="{{ url_for('postDetail', id_new=n.id)}}"> {{n.title}}</a></li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 blog_details_content">
                    <div class="row">                  
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="single_blog_post mb-40">
                                <div class="post_thumbnail">
                                    <a href="">                                       
                                        <img src="" alt=""></a>                                
                                    <p></p>                                 
                                </div>
                                <div class="post_content_meta">
                                    <div class="blog_post_desc">
                                        <h2><span class="billion3"> <a href=""> </a></span></h2>
                                        <p> </p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="">Читать дальше <span>
                                            <i class="zmdi zmdi-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>

            <div class="row pagination_box mt-30">
                <div class="col-12">
                    <div class="pagination">       
                        <ul>
                            <li>
                                <a href="/"><i class="zmdi zmdi-chevron-left"></i>
                                    назад
                                </a>
                            </li>
                           
                            <li class="active">
                                    <span><span class="sr-only">(current)</span></span>
                            </li>
                            
                            <li>
                                <a href="/">
                                 
                                </a>
                            </li>
                            
                            <li>
                             
                                <a href="/">вперёд
                                    <i class="zmdi zmdi-chevron-right"></i>
                                </a>
                           
                            </li>
                        </ul>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}