{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="account_area ptb-100">
    <div class="container">
        <div class="row">
           <!--login area start-->
           {% for category, msg in get_flashed_messages(True) %}
           <div class="flash {{category}}">{{msg}}</div>
           {% endfor %}

            <div class="col-lg-6 col-md-12">
                <div class="account_form">
                    <div class="login_title">
                        <h2>Вход</h2>
                    </div>
                    <div class="login_form login">

                        <form action="/login" method="post">
                            <div class="login_input">
                                <label>введите email <span>*</span></label>
                                <input type="text" name="email" value="">
                            </div>
                            <div class="login_input">
                                <label>Пароль  <span>*</span></label>
                                <input type="password" name="psw" value="">
                            </div>
                            <div class="login_submit">
                                <button type="submit">войти</button>
                                <label for="remember">
                                    <input name="remainme" type="checkbox">
                                    запомнить меня
                                </label>
                                <a href="{{url_for('register')}}">не зарегистрированы?</a>
                            </div>
                        </form>

                    </div>
                 </div>    
            </div>
            <!--login area start-->
        </div>
    </div>
</div>
<!-- accont area end -->

{% endblock %}