{% extends 'base.html' %}

{% block content %}



<div class="account_area ptb-100">
    <div class="container">
        <div class="row">
           <!--login area start-->
            <div class="col-lg-6 col-md-12">
                <div class="account_form">
                    <div class="login_title">
                        <h2>Вход</h2>
                    </div>
                    <div class="login_form login">
                        <form action="#">
                            <div class="login_input">
                                <label>введите email <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="login_input">
                                <label>Пароль  <span>*</span></label>
                                <input type="password">
                            </div>
                            <div class="login_submit">
                                <button type="submit">войти</button>
                                <label for="remember">
                                    <input id="remember" type="checkbox">
                                    запомнить меня
                                </label>
                                <a href="#">не зарегистрированы?</a>
                            </div>

                        </form>
                    </div>
                 </div>    
            </div>
            <!--login area start-->

            <!--register area start-->
            <div class="col-lg-6 col-md-12">
                <div class="login_title">
                    <h2>Регистрация</h2>
                </div>
                <div class="login_form form_register ">
                    <form action="#">
                        <div class="login_input">
                            <label>Email  <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="login_input">
                            <label>пароль <span>*</span></label>
                            <input type="password">
                        </div>

                        <div class="login_submit">
                            <button type="submit">Зарегистрировать</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- accont area end -->

{% endblock %}