{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="account_area ptb-100">
    <div class="container">
        <div class="row">
           <!--login area start-->
           {% for category, msg in get_flashed_messages(True) %}
           <div class="flash {{category}}">{{msg}}</div>
           {% endfor %}

            <div class="col-lg-6 col-md-12">
                <div class="account_form">
                    <div class="login_title">
                        <h2>Вход</h2>
                    </div>
                    <div class="login_form login">

                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="login_input">
                                
                                {{ form.email.label() }} 
                            {% if form.email.errors %}
                                {{ form.email(class="invalid") }}
                                    <span class="invalid-feedback">
                                        {% for e in form.email.errors %}
                                            {{ e }}
                                        {% endfor %}
                                    </span>
                            {% else %}
                                    {{ form.email() }}
                            {% endif %}
                            </div>
                            <div class="login_input">
                                {{ form.psw.label() }} 

                                {% if form.psw.errors %}
                                {{ form.psw(class="invalid") }}
                                    <span class="invalid-feedback">
                                        {% for e in form.psw.errors %}
                                            {{ e }}
                                        {% endfor %}
                                    </span>
                            {% else %}
                                    {{ form.psw() }}
                            {% endif %}
                            </div>
                            <div class="login_submit">
                                {{ form.submit() }} 
                                {{ form.remember.label() }} {{ form.remember() }}
                                <a href="{{url_for('register')}}">не зарегистрированы?</a>
                            </div>
                        </form>

                    </div>
                 </div>    
            </div>
            <!--login area start-->
        </div>
    </div>
</div>
<!-- accont area end -->

{% endblock %}