{% extends 'base.html' %}
{% block content %}
<div class="blog_area pt-105 pb-100">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="single_blog_post mb-40">
                    <div class="post_thumbnail">
                        <a href="blog-details.html"><img src="assets/img/blog/1.jpg" alt=""></a>
                    </div>
                    <div class="post_content_meta">
                        <div class="post_meta">
                            <ul>            
                                <li>Posted March 20.</li>
                            </ul>
                        </div>
                        <div class="blog_post_desc">
                            <h2><a href="blog-details.html">Froome racing to spoil Yates’s pink Giro dream</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry... </p>
                        </div>
                        <div class="read_more_btn">
                            <a href="blog-details.html">Читать подробнее <span><i class="zmdi zmdi-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--shop area end-->

{% endblock %}